{% extends "layout.html" %}

{% block content_header %}
  {{ build_breadcrumb('Switchboard', '', 'desktop', ['List']) }}
{% endblock %}

{% block content %}
  <section class="content">
    {% call build_list_containers('Switchboards', 'desktop') %}
      {% call build_list_table() %}
        {% call build_list_table_headers() %}
          <th>Name</th>
          <th>Extensions</th>
          {{ add_list_table_header_action() }}
        {% endcall %}
        {% call(switchboard) build_list_table_rows(resource_list['items']) %}
          <td>{{ switchboard.name }}</td>
          <td>
            {% for e in switchboard.extensions %}
              <strong>internal:</strong> {{ e.exten }}
            {% endfor %}
            {% for extensions in switchboard.incalls %}
              {% for e in extensions.extensions %}
                <strong>incall:</strong> {{ e.exten }}
              {% endfor %}
            {% endfor %}
            {% if not switchboard.extensions and not switchboard.incalls %}
              -
            {% endif %}
          </td>
          <td>
            {{ add_edit_button(href=url_for('.SwitchboardView:get', id=switchboard.uuid)) }}
            {{ add_delete_button(href=url_for('.SwitchboardView:delete', id=switchboard.uuid)) }}
          </td>
        {% endcall %}
      {% endcall %}
    {% endcall %}

    {% call build_hidden_add_containers('Add Switchboard') %}
      {% call build_form() %}
        {% call add_default_fields(form=form, submit_value="Add") %}
	      {{ render_field(form.name) }}
	      {{ render_field(form.users, data_listing_href=url_for(listing_urls['uuid_user'])) }}
        {% endcall %}
      {% endcall %}
    {% endcall %}
  </section>
{% endblock %}
